@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,700;1,700&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(120deg, #f3f3f1d8, #ffffffda);
    position: relative;
}

.word-container{
    width: 300px; /* Largura da div */
    height: 200px; /* Altura da div */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.word-container h2{
    font-size: 75px;
}

.game-controls{
    width: 400px; 
    height: 300px; 
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.game-controls button{
    margin: 10px;
    padding: 10px;
}